.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.titleGroup {
  flex-grow: 1;
  margin-left: 10px;
}

.companyName {
  margin: 0;
  font-size: 16px;
}

.bookmarkBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem; /* Increase icon size */
}

.positionTitle {
  margin: 10px 0;
  font-size: 18px;
}

.body {
  margin-bottom: 10px;
}

.tag {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.dDay {
  font-weight: bold;
}

.deadline {
  color: red;
  font-weight: bold;
}

.alwaysHiring {
  color: green;
  font-weight: bold;
}
